<ion-header>
  <ion-toolbar>
    <ion-title>
      Konfirmasi Belanjaan
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="success-container">
    <br> 
    <ion-icon position="center" name="checkmark-circle-outline" class="success-icon"></ion-icon>
    <br>
    <h2 class="success-message">Konfirmasi Belanjaan Berhasil!</h2>
    <p class="success-details">Terima kasih telah melakukan pembelian.</p>

    <ion-button (click)="menu()"position="bottom" fill="outline">Kembali ke Menu</ion-button>
  </div>
</ion-content>
