.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; // Sesuaikan tinggi sesuai kebutuhan
  }
  
  .icon {
    width: 100px; // Sesuaikan lebar sesuai kebutuhan
    height: 100px; // Sesuaikan tinggi sesuai kebutuhan
  }
  