<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title><b>BOOKSTORE</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

<div id="container">

  <ion-title position="center"><h2><b position="center">REGISTER</b></h2></ion-title>

<ion-item fill="outline">
  <ion-label position="floating">Name</ion-label>
  <ion-input [(ngModel)]="form.name" [ngModelOptions]="{standalone: true}" placeholder="Enter text"></ion-input>
</ion-item>
<br>
<ion-item fill="outline">
  <ion-label position="floating">Email</ion-label>
  <ion-input [(ngModel)]="form.email" [ngModelOptions]="{standalone: true}" placeholder="Enter text"></ion-input>
</ion-item>
<br>
<ion-item fill="outline">
  <ion-label position="floating">Password</ion-label>
  <ion-input [(ngModel)]="form.password"
  type="password"
   [ngModelOptions]="{standalone: true}" placeholder="Enter text"></ion-input>
</ion-item>
<br/>
<ion-item fill="outline">
  <ion-label position="floating">Confirm Password</ion-label>
  <ion-input 
  type="password"
  
  [(ngModel)]="form.confirmation_password" [ngModelOptions]="{standalone: true}" placeholder="Enter text"></ion-input>
</ion-item>
<br>
<ion-button
fill="solid"
(click)="register()"
expand="block"
shape="round"
>Register</ion-button
>

</div>
</ion-content>